.command-box {
    display: block;
    background: var(--ion-color-light);
    padding: 8px;
    border-radius: 4px;
    font-family: monospace;
    margin-top: 4px;
    white-space: pre-wrap;
    word-break: break-all;
}