@import "~xterm/css/xterm.css";

.player-content {
    --background: #1e1e1e;
}

.terminal-wrapper {
    width: 100%;
    height: calc(100% - 56px);
    /* Minus footer */
    background: #1e1e1e;
    overflow: hidden;
    padding: 8px;
}

.terminal-container {
    width: 100%;
    height: 100%;
}